[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/naveedakrm
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/naveedakrm
	label-Verified = -1..+1 group user/naveedakrm
	push = group user/naveedakrm
	read = group user/naveedakrm
	rebase = group user/naveedakrm
	removeReviewer = group user/naveedakrm
	submit = group user/naveedakrm
[access "refs/heads/*"]
	create = group user/naveedakrm
	push = +force group user/naveedakrm
	pushMerge = group user/naveedakrm
	read = group user/naveedakrm
[access "refs/tags/*"]
	push = group user/naveedakrm
	push = +force group user/naveedakrm
